/*
 * Copyright (c) 2024 Field Test contributors
 * SPDX-License-Identifier: MIT
 *
 * Field Test — 4-key keyboard keymap
 *
 * Key positions:
 *   0  1
 *   2  3
 *
 * Layers:
 *   0 = BASE
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "Base";
            bindings = <
                &kp A     &kp B
                &mkp LCLK &mkp RCLK
            >;
        };
    };
};
